<div class="container">
    <div id="add-criminal">
        <div id="frame">
            <app-criminal-add></app-criminal-add>
        </div>
    </div>
    <div id="prison-and-crime">
        <div id="prison">
            <div id="frame">
                <app-criminal-prison> </app-criminal-prison>
            </div>
        </div>
        <div id="crime">
            <div id="frame">
                <app-criminal-crime></app-criminal-crime>
            </div>
        </div>
    </div>
    <div id="list">
        <div id="frame">
            <app-criminal-list></app-criminal-list>
        </div>
    </div>
</div>