.container h1 {
    text-align: center;
  }
  
  .full-width-table {
    width: 100%;
  }
  
  .search-form-field {
    width:30%;
    border: 2px solid rgba(0, 60, 255, 0.397);
    padding: 1em;
    border-radius: 2em;
    margin: 0 0 1em 1em;
  }
  